body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;

}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

#hero {
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 0;
}

#car-listings {
    padding: 20px;
}

.car-itemphoto {
    display: inline-block;
    width: 30%;
    
    text-align: center;
}

.car-item img {
    width: 100%;
    height: auto;
}

.about{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.header-slider ul{
    display: flex;
    overflow-y: hidden;
}
.header-img{
    max-width: 500px;
}
.header-slider a{
    position: absolute;

}
